<launch>
 
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
 
  <param name="/use_sim_time" value="true"/>
 
   <!--  ************** Navigation  ***************  -->
  <include file="$(find final_project)/launch/move_base.launch.xml"/>
 
  <!--  ****** Maps *****  -->
  <arg name="map_file" default="$(find final_project)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
 
</launch>